body {
	background-color: black;
	color: white;
	padding: 0px;
	margin: 0px;
	font-family: "Palatino Linotype", "Book Antiqua", _Palatino, "URW Palladio L", serif;
}

#wrapper1 {
	color: white;
	padding: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	background: url(vert.png) repeat-x rgb(77, 77, 77);
}

#wrapper2 {
	min-height: 100%;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 13%;
	padding-right: 13%;
	background: transparent;
}

div.c1 {
	border-radius: 7px;
	color: inherit;
	padding: 16px;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

div.c2 {
	border-radius: 6px;
	color: inherit;
	padding: 16px;
	background-color: rgba(255, 255, 255, 0.02);
}

div.c3 {
	color: inherit;
	background: url(teapot.png) no-repeat bottom right transparent;
	line-height: 1.4em;
	text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.6);
	font-family: inherit;
	font-size: 15px;
}

p {
	margin-top: 0;
	margin-bottom: 1.6em;
}

#header {
	background-image: url(headerBackground.png);
	color: white;
	left: 0px;
	top: 0px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.15);
	text-align: justify;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
}

#header h3 {
	color: rgb(96%, 100%, 85%);
	background-color: transparent;
	text-shadow: 1px 1px 10px rgba(100%, 100%, 100%, 0.3);
	font-family: Tahoma, sans-serif;
	font-size: 36px;
	font-weight: 600;
	padding: 0;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 5px;
}

#header span {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
}

#menu {
	float: right;
	height: 100%;
}

#menu div {
	margin-top: 50px;
	margin-right: 5px;
}

#menu div a {
	font-size: 11px;
	font-family: verdana;
	text-decoration: none;
	font-weight: bold;
	font-variant: normal;
	text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3);
	color: rgba(100%, 100%, 80%, 0.8);
	padding: 7px 10px 7px 10px;
	margin-left: 8px;
	background-color: rgba(100%, 100%, 100%, 0.04);
	border: 1px solid rgba(0%, 0%, 0%, 0.1);
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-out;
}

#menu div a:hover {
	color: rgba(100%, 100%, 80%, 0.8);
	background-color: rgba(100%, 100%, 100%, 0.075);
}

#topStatus {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	margin: 3px;
	display: none;
	text-align: center;
	color: #ffff80;
	background-color: transparent;
}

a {
	font-family: Tahoma, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	color: #7e7;
	background-color: inherit;
}

a:hover {
	color: #bfb;
	background-color: inherit;
}
